@import "../../../styles.scss";

.client-details-container {
  display: flex;
  justify-content: center;
  gap: 50px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  .operations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .op-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      width: 10vh;
      height: 10vh;
      background-color: $dark-red;
      color: white;
      font-weight: 600;
      text-align: center;
      cursor: pointer;

      &:hover {
        opacity: 80%;
      }

      i {
        font-size: 40px;
      }

      span {
        font-size: 15px;
      }

      .transfer-icons {
        display: flex;
        flex-direction: column;

        i {
          font-size: 25px;
          font-weight: bold;
        }
      }
    }
  }

  .client-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: -webkit-fill-available;

    @media screen and (min-width: 768px) {
      max-width: 500px;
    }

    .form-title {
      margin: 0 0 20px;
      font-size: 20px;
    }

    // .form-fields {
    // }

    .input-group {
      display: flex;
      justify-content: center;
      margin: 15px 0;

      mat-form-field {
        width: -webkit-fill-available;
      }
    }

    .form-footer {
      display: flex;
      flex-direction: column;

      .new-client-account-message {
        margin: 0 0 10px;
        font-size: 14px;
      }

      .buttons {
        margin: 20px 0;
        display: flex;
        justify-content: end;
        gap: 20px;

        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          span {
            font-size: 15px;
          }
  
          .fa {
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
    }
    
    mat-error {
      color: $dark-red;
      opacity: 90%;
    }

    mat-hint, mat-error {
      font-size: 12px;
    }
  }
}

.form-control:focus{
  box-shadow: none;
}


::ng-deep {
  .disable-editing {
    .mdc-line-ripple {
      display: none;
    }
  }

  .mat-mdc-form-field {
    padding: 0 !important;
  }

  .mat-mdc-text-field-wrapper,
  .mat-mdc-form-field-hint-wrapper,
  .mat-mdc-form-field-error-wrapper {
    padding: 0 0 0 5px !important;
  }

  .mat-mdc-form-field-flex {
    margin-top: 25px !important;
    padding-bottom: 6px;
  }

  .mat-mdc-floating-label {
    margin-top: 5px !important;
  }
}