<app-notification *ngIf="displayNotification" 
  [genericNotification]="displayNotification.isGeneric"
  [isSuccess]="displayNotification?.isSuccess"
  [title]="displayNotification?.title"
  [subtitle]="displayNotification?.subtitle"
  [accountNumber]="currentClient.accountNumber"
  (closeNotification)="displayNotification = false"
>
</app-notification>

<div class="client-details-container">

  <!-- Transactions menu -->
  <div class="transactions" *ngIf="clientMode !== clientModes.CREATE">
    <div class="op-card card" (mouseup)="displayNotification = true">
      <i class="fa fa-money"></i>
      <span>Check balance</span>
    </div>
    <div class="op-card card" (mouseup)="onClickTransactions('transferMoney')">
      <div class="transfer-icons">
        <i class="fa fa-long-arrow-left"></i>
        <i class="fa fa-long-arrow-right"></i>
      </div>
      <span>Transfer money</span>
    </div>
    <div class="op-card card" (mouseup)="onClickTransactions('addMoney')">
      <i class="fa fa-plus-circle"></i>
      <span>Add money</span>
    </div>
  </div>

  <!-- Client form -->
  <div class="client-form generic-form card" *ngIf="!transactions.addMoney && !transactions.transferMoney">
    <div class="form-title">
      <span *ngIf="clientMode === clientModes.CREATE">New client</span>
      <span *ngIf="[clientModes.READ, clientModes.UPDATE].includes(clientMode)">Client information</span>
    </div>

    <form [formGroup]="clientForm" [ngClass]="{'disable-editing': clientMode === clientModes.READ}">
        <div class="input-group">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" [max]="200" required [readonly]="clientMode === clientModes.READ">
            <mat-error *ngIf="!clientForm.controls['name'].value">Name is required</mat-error>
          </mat-form-field>
        </div>

        <div class="input-group">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email" matInput required 
              [readonly]="clientMode === clientModes.READ"
              [placeholder]="clientMode !== clientModes.READ ? 'Type a valid email' : ''"
              (ngModelChange)="onEmailChange($event)"
            >
            <mat-error *ngIf="!clientForm.controls['email'].value">Email field is required</mat-error>
            <mat-error *ngIf="!!clientForm.controls['email'].value && clientForm.controls['email'].errors && !clientForm.controls['email'].hasError('existingEmail')">Email is invalid</mat-error>
            <mat-error *ngIf="clientForm.controls['email'].hasError('existingEmail')">E-mail already exists</mat-error>
          </mat-form-field>
        </div>

        <div class="input-group">
          <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput type="number" formControlName="age" [min]="1" [max]="120" [readonly]="clientMode === clientModes.READ">
          </mat-form-field>
        </div>

        <div class="input-group disable-editing" *ngIf="clientMode !== clientModes.CREATE">
          <mat-form-field>
            <mat-label>Account number</mat-label>
            <input matInput type="text" formControlName="accountNumber" [min]="1" [max]="120" readonly>
          </mat-form-field>
        </div>


        <div class="form-footer">
          <div class="new-client-account-message" *ngIf="clientMode === clientModes.CREATE">
            Once you submit the form, a bank account will be created.
          </div>

          <div class="buttons">
            <button type="button" class="btn secondary-btn" (click)="onCancel()">
              <i class="fa fa-rotate-left"></i>
              <span *ngIf="clientMode !== clientModes.UPDATE">Cancel</span>
              <span *ngIf="clientMode === clientModes.UPDATE">Return</span>
            </button>

            <button type="submit" class="btn primary-btn" *ngIf="clientMode === clientModes.CREATE" 
              [disabled]="clientForm.invalid || hasCustomErrors()"
              (click)="onSubmit()"
            >
              <span>Create</span>
            </button>
            <button type="button" class="btn primary-btn" *ngIf="clientMode === clientModes.READ"
              (click)="clientMode = clientModes.UPDATE"
            >
              <i class="fa fa-edit"></i>
              <span>Edit</span>
            </button>
            <button type="submit" class="btn primary-btn"*ngIf="clientMode === clientModes.UPDATE" 
              [disabled]="clientForm.invalid || hasCustomErrors() || (clientMode === clientModes.UPDATE && clientForm.untouched)"
              (click)="onSubmit()"
            >
              <i class="fa fa-floppy-o"></i>
              <span>Save</span>
            </button>
          </div>
        </div>
    </form>
  </div>

  <div class="account-form card" *ngIf="transactions.addMoney || transactions.transferMoney">
    <app-account-transaction *ngIf="transactions.addMoney || transactions.transferMoney"
      [currentAccount]="currentAccount"
      [transactionType]="transactions.addMoney ? 'add' : 'transfer'"
      (notifyParent)="endTransaction($event)"
    ></app-account-transaction>
  </div>
</div>
