<div class="clients-container">
  <button class="btn primary-btn new-btn" routerLink="/client/new">New client</button>

  <div class="clients-table">
    <table class="table table-hover">
      <thead>
          <tr>
              <th>
                <span>Account #</span>
                <i class="fa fa-sort" [ngClass]="{'current-sort': currentSortField === 'accountNumber'}" (mouseup)="sortBy('accountNumber')"></i>
              </th>
              <th>
                <span>Name</span>
                <i class="fa fa-sort" [ngClass]="{'current-sort': currentSortField === 'name'}" (mouseup)="sortBy('name')"></i>
              </th>
              <th>
                <span>Email</span>
              </th>
              <th>
                <span>Age</span>
                <i class="fa fa-sort" [ngClass]="{'current-sort': currentSortField === 'age'}" (mouseup)="sortBy('age')"></i>
              </th>
              <th colspan="2" class="actions">
                <span>Actions</span>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let client of clients">
              <td>{{client.accountNumber}}</td>
              <td>{{client.name}}</td>
              <td>{{client.email}}</td>
              <td>{{client.age}}</td>
              <div class="actions">
                <td (click)="goToClientDetails(client.id)" class="action-icon view">
                  <i class="fa fa-eye"></i>
                </td>
                <td (click)="confirmDelete(client.id)" class="action-icon delete">
                  <i class="fa fa-trash"></i>
                </td>
              </div>
          </tr>
      </tbody>
    </table>
  </div>
</div>