@import "../../../styles.scss";

.clients-container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .clients-table {
    overflow-x: scroll;
    max-height: 60vh;
    box-shadow: 0px 3px 6px $gray4;
    border-radius: 5px;

    table {
      border-collapse: collapse;
      width: 100%;

      th, td {
        border: none;
        text-align: start;
        padding: 10px;
      }

      thead {
        position: sticky;
        top: 0;
        background-color: $dark-red !important;
        color: white;

        th {
          font-weight: 500;

          .fa {
            margin-left: 20px;
            color: rgba(255, 255, 255, 0.5);
            cursor: pointer;

            &:hover {
              color: white;
            }
          }

          .current-sort {
            color: white;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: $gray6;
          }
        }

        .actions {
          .action-icon {
            i {
              font-size: 20px;
              cursor: pointer;

              &:hover {
                color: $dark-red;
              }
            }
          }
        }
      }

      .actions {
        display: flex;
        justify-content: center;
      }
    }
  }

  .new-btn {
    align-self: self-end;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
  }
}